.titles{
    display: flex;
    flex-direction: column;
    font-family: Heebo;

.title{
    display: flex;
    gap: 4rem;
    padding-block: 1rem;
    /* transition: all 0.1s linear; */
    opacity: 0.3;
    /* padding-left: 2rem; */
    h1{
        font-size: 5rem;
        font-weight: 20;
        line-height: 1;
    }

    small{
        font-size: 0.7rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
    }

    .year{
        display: flex;
        width: 8%;
        justify-content: right;
    }

    .p{
        justify-content: right;
        padding-left: 1rem;
    }
}

/* .title:hover{
    cursor: pointer;
    opacity: 10;
} */
}



